@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --border: rgba(66, 66, 66, 0.719) solid 1px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
.colors {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.closed{
  width: 0;
  overflow: hidden;
  padding: 0;
  transition: width 0.8s ease 0.1s, color 0s linear;
  color: #282828;
}

.open{
  width: calc(100% - 400px) ;
  overflow: hidden;
  padding-right: 12px;
  border-radius: -12px;
  transition: width 0.8s ease, color 0.3s linear 0.5s;
  color: white;
  background-color: #282828;
}

#menu{
  background-color: #282828;
  height: 100px;
  position: fixed;
  bottom: 20px;
  left: 368px;
  display: flex;
  text-align: right;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

#menu button{
  color: inherit;
  background: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 14.74px;
  text-align: left;
  padding: 0 10px;
  cursor: default;
  white-space: nowrap;
  position: relative;
  top: 0;
  transition: all linear .2s;
}

/* #menu button:hover{
  position: relative;
  bottom: 2px;
  transition: all linear .2s;
} */

#menu button:active{
  position: relative;
  top: 2px;
}
.controls {
  background-color: #282828df;
}
.controls:hover{
  background-color: #282828;
}

.tools{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: inherit;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100px;
  border-radius: 12px;
  cursor: default;
  transition: background-color 0.1s ease .8s;
}
.a-tools{
  background-color: #282828;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100px;
  border-radius: 12px;
  cursor: default;
  width: 360px;
  transition: background-color 0.1s ease .8s;
}

#generate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 0 58px;
  text-align: center;
}

#generate:hover{
  background-color: #46474a;
  height: 40px;
  width: 40px;
  margin: 0 48px;
  border-radius: 12px;
}

#color-scheme{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding:0 10px;
}

#color-scheme:hover{
  background-color: #46474a;
  
  height: 40px;
  border-radius: 12px;
}

.color-blocks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  height: 100%;
  width:100%
}
.color-block {
  display: block;
  width: 25%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code{
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  text-align: center;
  background-color: #282828;
  color: white;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
}
.color-code, ul{
    list-style-type: none;
}

