@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
.colors {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#generate{
  color: #246DFF;
  font-size: 30px;

}

.controls select{
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: 35px;
  border-radius: 7px;
  color: #246DFF;
  border: 2px solid #246DFF;
  text-transform:capitalize;
  font-size: 14.8px;
  font-weight: 600;
  outline: none;
}

.controls input{
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: 28px;
  border-radius: 7px;
  color: #246DFF;
  padding: 2px;
  border: 2px solid #246DFF;
  text-transform:capitalize;
  font-size: 14.8px;
  font-weight: 600;
  outline: none;
}

.controls select:active{
  border: 2px solid #246DFF;
}
#generate:hover{
  color: #165AE4;
}

.color-blocks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  height: 100%;
  width:100%
}
.color-block {
  display: block;
  width: 25%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.color-code, ul{
    list-style-type: none;
}

